{% extends 'layout.html' %}
{% block body %}
{% load static %}
<div id="wrap-content" class="page-content">
    <div id="post-172" class="page-holder custom-page-template page-full fullscreen-page clearfix">
                
        <div data-elementor-type="wp-post" data-elementor-id="172" class="elementor elementor-172">
            <br><br><br><br>
            <section
            class="container elementor-section elementor-top-section elementor-element elementor-element-ac82b81 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="ac82b81" data-element_type="section">
            <div class="row elementor-container elementor-column-gap-default">
                <h3 class="elementor-icon-box-title"> <span> Wedding </span></h3>
                <div class="col-md-4 elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a31bb67"
                    data-id="a31bb67" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-e59c18d elementor-widget elementor-widget-image"
                            data-id="e59c18d" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container"> <img decoding="async" width="600" height="600"
                                    src="{% static 'partners/pradip.jpg' %}"
                                    class="attachment-large size-large wp-image-184" alt="" /></div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-md-4 elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f695898"
                    data-id="f695898" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-ea7e629 elementor-widget elementor-widget-image"
                            data-id="ea7e629" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container"> <img decoding="async" width="768" height="768"
                                    src="{% static 'partners/jignesh.jpg' %}"
                                    class="attachment-large size-large wp-image-185" alt="" /></div>
                        </div>
                    
                    </div>
                </div>
                <div class="col-md-4 elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4239e4e"
                    data-id="4239e4e" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-3fff1a2 elementor-widget elementor-widget-image"
                            data-id="3fff1a2" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container"> <img loading="lazy" decoding="async"
                                    width="768" height="768" src="{% static 'partners/mukesh.jpg' %}"
                                    class="attachment-large size-large wp-image-186" alt="" /></div>
                        </div>            
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row elementor-container elementor-column-gap-default">
                <div class="col-md-4 elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a31bb67"
                    data-id="a31bb67" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-e59c18d elementor-widget elementor-widget-image"
                            data-id="e59c18d" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container"> <img decoding="async" width="600" height="600"
                                    src="{% static 'partners/jd.jpg' %}"
                                    class="attachment-large size-large wp-image-184" alt="" /></div>
                        </div>
                                
                    </div>
                </div>
                <div class="col-md-4 elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f695898"
                    data-id="f695898" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-ea7e629 elementor-widget elementor-widget-image"
                            data-id="ea7e629" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container"> <img decoding="async" width="768" height="768"
                                    src="{% static 'partners/nilesh.jpg' %}"
                                    class="attachment-large size-large wp-image-185" alt="" /></div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4239e4e"
                    data-id="4239e4e" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-3fff1a2 elementor-widget elementor-widget-image"
                            data-id="3fff1a2" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container"> <img loading="lazy" decoding="async"
                                    width="768" height="768" src="{% static 'partners/navneet.jpg' %}"
                                    class="attachment-large size-large wp-image-186" alt="" /></div>
                        </div>
                        
                    </div>
                </div>
            </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}
